// color
$main-color: #ffffff;
$second-color: #000000;
$interaction-color: #009688;
$light-grey-color: #cccccc;
$grey-color: #666666;

// media break points
$mb0: 1200px;
$mb1: 991px;
$mb2: 767px;
$mb3: 479px;